{% extends 'index.html' %}

{% block main %}
    <h1>Выставленные на продажу NFT:</h1>
    {%if actions == [] %}
        <p>Пока тут пусто</p>
    {% endif %}

    {% for action in actions %}
        <div class="block">
            <div>
                <p>Название коллекции: {{action[1][1]}}</p>
                <p>Описание коллекции: {{action[1][2]}}</p>
                <p>Время старта: {{action[2]}}</p>
                <p>Время завершения: {{action[3]}}</p>
                <p>Минимальная ставка: {{action[4]}} Profi</p>
                <p>Максимальная ставка: {{action[5]}} Profi</p>
            </div>

            <div>
                <a href="/all_bet_to_action/{{action[0]}}">посмотреть все ставки</a>
                <div>
                    <form method="post">
                        <input type="text" name="bet" placeholder="введите вашу ставку" title="введите вашу ставку" required>
                        <button name="id" value="{{action[0]}}">отправить</button>
                    </form>

                    {%if user[0][0] == "Owner" %}
                        <form method="post">
                            <button name="id" value="{{action[0]}}">завершить</button>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}

    {% if get_flashed_messages() != [] %}
        <div class="flash" id="window">
            <figure>
                <a href="#" class="close"></a>
                <figcaption>
                    {% for mes in get_flashed_messages() %}
                        <p>{{mes}}</p>
                    {% endfor %}
                </figcaption>
            </figure>
        </div>
    {% endif %}

{% endblock %}