{% extends 'index.html' %}

{% block main %}
    <div class="auth">
      <h1>Подключение к Metamask</h1>
      <button id="auth">Войти</button>
    </div>


    <script type="text/javascript">
      if (typeof window.ethereum !== 'undefined') {
        const ethereum = window.ethereum;
        const Button = document.getElementById('auth');

        Button.addEventListener('click', () => {
          // Запрашиваем разрешение на доступ к аккаунту пользователя
          ethereum.enable()
            .then(accounts => {
              // Передаем выбранный аккаунт на сервер Flask
              const selectedAccount = accounts[0];
      
              fetch('/auth', {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json'
                },
                body: JSON.stringify({ account: selectedAccount })
              })
            })
        });
      
        document.body.appendChild(loginButton);
      } else {
        console.error('Расширение Metamask не доступно');
      }
    </script>

    
    {% if get_flashed_messages() != [] %}
        <div class="flash" id="window">
            <figure>
                <a href="#" class="close"></a>
                <figcaption>
                    {% for mes in get_flashed_messages() %}
                        <p>{{mes}}</p>
                    {% endfor %}
                </figcaption>
            </figure>
        </div>
    {% endif %}

{% endblock %}