{% extends 'index.html' %}

{% block main %}
    <h1>Выставленные на продажу NFT:</h1>
    {%if nfts == [] %}
        <p>Пока тут пусто</p>
    {% endif %}

    {% for nft in nfts %}
        <div>
            <img src="../static/images/{{nft[1][3]}}">
            <p>Название: {{nft[1][0]}}</p>
            <p>Описание: {{nft[1][1]}}</p>
            <p>Всего выпущено: {{nft[1][4]}}</p>
            <p>Дата создания: {{nft[1][5]}}</p>
            <p>Владелец: {{nft[2]}}</p>
            <p>Стоимость: {{nft[3]}}</p>
            {% if nft[4] == True %}
                <p>Принадлежит колекции: {{nft[5]}}</p>
                <p>Описание колекции: {{nft[6]}}</p>
            {% endif %}
            <form method="post">
                <button name="id" value="{{nft[0]}}">Купить</button>
            </form>
        </div>
    {% endfor %}


    {% if get_flashed_messages() != [] %}
        <div class="flash" id="window">
            <figure>
                <a href="#" class="close"></a>
                <figcaption>
                    {% for mes in get_flashed_messages() %}
                        <p>{{mes}}</p>
                    {% endfor %}
                </figcaption>
            </figure>
        </div>
    {% endif %}


{% endblock %}