<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">

    <!--  -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!--  -->

    <title>Profi</title>
</head>
<body>
    <header>
        <menu id="menu">
            <div>
                <a href="/">Nft</a>
                <a href="/actions">Аукционы</a>
                {% if session.get('user') != None %}
                    <a href="/lk">Мои данные</a>
                    <a href="/logout">Выйти</a>
                {% else %}
                    <a href="/auth">Войти</a>
                {% endif %}
            </div>
        </menu>
    </header>

    <main id="main">

        <div id="contend">
            {% block main %}
            {% endblock %}
        </div>

        <div id="auth">
            {% block auth %}
            {% endblock %}
        </div>
    </main>

    <footer>
        <div>
            <p>&copy;Понакшина И.А. "Самарский Государственный Колледж" для "Профессионалы" 2024</p>
        </div>
    </footer>

    <!--  -->
    <script>
        setInterval(function()
        {
            $('#menu').load(document.URL + ' #menu');
            $('#auth').load(document.URL + ' #auth');
        }, 5000)
    </script>
    <!--  -->
</body>
</html>