{% extends 'index.html' %}

{% block main %}

    <div class="form">
        <h1>Создать аукцион</h1>
        <form method="post">
            <label>Время начала</label>
            <input type="datetime-local" name="start" placeholder="введите время начала" title="введите время начала" required>

            <label>Время конца</label>
            <input type="datetime-local" name="end" placeholder="введите время конца" title="введите время конца" required>

            <label>Минимальная ставка</label>
            <input type="text" name="min" placeholder="введите минимальную стоимость" title="введите минимальную стоимость" required>

            <label>Максимальная ставка</label>
            <input type="text" name="max" placeholder="введите максимальную стоимость" title="введите максимальную стоимость" required>

            <button type="submit">опубликовать</button>
        </form>
    </div>

    {% if get_flashed_messages() != [] %}
        <div class="flash" id="window">
            <figure>
                <a href="#" class="close"></a>
                <figcaption>
                    {% for mes in get_flashed_messages() %}
                        <p>{{mes}}</p>
                    {% endfor %}
                </figcaption>
            </figure>
        </div>
    {% endif %}
    
{% endblock %}