{% extends 'index.html' %}

{% block auth %}
    <div class="auth">
      <h1>Подключение к Metamask</h1>
      <button id="auth">Войти</button>
    </div>


    <script type="text/javascript">
      if (typeof window.ethereum !== 'undefined') {
        const ethereum = window.ethereum;
        const Button = document.getElementById('auth');

        Button.addEventListener('click', () => {
          // Запрашиваем разрешение на доступ к аккаунту пользователя
          ethereum.enable()
            .then(accounts => {
              // Передаем выбранный аккаунт на сервер Flask
              const selectedAccount = accounts[0];
      
              fetch('/login', {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json'
                },
                body: JSON.stringify({ public_key: selectedAccount })
              })
              .then(response => response.json())
              .then(data => {
                if (data.redirect) {
                  window.location.href = data.redirect;
                } else if (data.error) {
                  alert(data.error);
                }
              })
              .catch(error => {
                console.error('Ошибка авторизации:', error);
              });
            })
        });
      
        document.body.appendChild(loginButton);
      } else {
        console.error('Расширение Metamask недоступно');
      }
    </script>

    
    {% if get_flashed_messages() != [] %}
        <div class="flash" id="window">
            <figure>
                <a href="#" class="close"></a>
                <figcaption>
                    {% for mes in get_flashed_messages() %}
                        <p>{{mes}}</p>
                    {% endfor %}
                </figcaption>
            </figure>
        </div>
    {% endif %}

{% endblock %}